Package                       Version
----------------------------- -----------

cloudpickle                   2.0.0
contourpy                     1.0.5
fonttools                     4.25.0
frozenlist                    1.4.0
GridDataFormats               1.0.2
grpclib                       0.4.3
hyperframe                    6.0.1
imagesize                     1.4.1
importlib-metadata            6.0.0
ipykernel                     6.19.2
ipython                       8.12.0
ipython-genutils              0.2.0
ipywidgets                    8.0.4
joblib                        1.2.0
jupyter                       1.0.0
jupyter_client                7.4.9
jupyter-console               6.6.3
jupyter_core                  5.3.0
jupyter-server                1.13.5
jupyterlab-pygments           0.1.2
jupyterlab-widgets            3.0.5
kaleido                       0.2.1
matplotlib                    3.7.1
matplotlib-inline             0.1.6
mdurl                         0.1.2
more-itertools                8.12.0
numpy                         1.24.3
numpydoc                      1.5.0
openpyxl                      3.1.2
pandas                        1.5.3
pandocfilters                 1.5.0
pathspec                      0.10.3
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           23.1.2
plotly                        5.9.0
python-dateutil               2.8.2
python-lsp-black              1.2.1
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.7.2
python-slugify                5.0.2
pytoolconfig                  1.2.5
pywin32                       305.1
pywin32-ctypes                0.2.0
pywinpty                      2.0.10
PyYAML                        6.0
scikit-learn                  1.2.2
scikit-optimize               0.9.0
scipy                         1.10.1
seaborn                       0.12.2
spyder                        5.4.3
spyder-kernels                2.4.3
stack-data                    0.2.0
threadpoolctl                 2.2.0
torch                         2.2.0
torch-scatter                 2.0.9
torchvision                   0.15.2a0
tqdm                          4.65.0

